In [ ]:
!pip install yfinance

In [3]:
import pandas as pd 
import matplotlib.pyplot as plt
import yfinance as yf

%matplotlib inline

In [4]:
aapl = yf.Ticker('AAPL')

In [5]:
days = 20
hist = aapl.history(period =f'{days}d')
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-02-16,171.850006,173.339996,170.050003,172.550003,61177400,0,0
2022-02-17,171.029999,171.910004,168.470001,168.880005,69589300,0,0
2022-02-18,169.820007,170.539993,166.190002,167.300003,82772700,0,0
2022-02-22,164.979996,166.690002,162.149994,164.320007,91162800,0,0
2022-02-23,165.539993,166.149994,159.750000,160.070007,90009200,0,0
2022-02-24,152.580002,162.850006,152.000000,162.740005,141147500,0,0
2022-02-25,163.839996,165.119995,160.869995,164.850006,91974200,0,0
2022-02-28,163.059998,165.419998,162.429993,165.119995,94869100,0,0
2022-03-01,164.699997,166.600006,161.970001,163.199997,83474400,0,0
2022-03-02,164.389999,167.360001,162.949997,166.559998,79724800,0,0
2022-03-03,168.470001,168.910004,165.550003,166.229996,76678400,0,0
2022-03-04,164.490005,165.550003,162.100006,163.169998,83737200,0,0
2022-03-07,163.360001,165.020004,159.039993,159.300003,96418800,0,0
2022-03-08,158.820007,162.880005,155.800003,157.440002,131148300,0,0
2022-03-09,161.479996,163.410004,159.410004,162.949997,91454900,0,0
2022-03-10,160.199997,160.389999,155.979996,158.520004,105342000,0,0
2022-03-11,158.929993,159.279999,154.500000,154.729996,96836300,0,0
2022-03-14,151.449997,154.119995,150.100006,150.619995,108732100,0,0
2022-03-15,150.899994,155.570007,150.380005,155.089996,92964300,0,0
2022-03-16,157.050003,160.000000,154.460007,159.589996,102151200,0,0

In [6]:
hist.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume', 'Dividends', 'Stock Splits'], dtype='object')

In [7]:
hist.reset_index()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2022-02-16,171.850006,173.339996,170.050003,172.550003,61177400,0,0
1,2022-02-17,171.029999,171.910004,168.470001,168.880005,69589300,0,0
2,2022-02-18,169.820007,170.539993,166.190002,167.300003,82772700,0,0
3,2022-02-22,164.979996,166.690002,162.149994,164.320007,91162800,0,0
4,2022-02-23,165.539993,166.149994,159.750000,160.070007,90009200,0,0
5,2022-02-24,152.580002,162.850006,152.000000,162.740005,141147500,0,0
6,2022-02-25,163.839996,165.119995,160.869995,164.850006,91974200,0,0
7,2022-02-28,163.059998,165.419998,162.429993,165.119995,94869100,0,0
8,2022-03-01,164.699997,166.600006,161.970001,163.199997,83474400,0,0
9,2022-03-02,164.389999,167.360001,162.949997,166.559998,79724800,0,0
10,2022-03-03,168.470001,168.910004,165.550003,166.229996,76678400,0,0
11,2022-03-04,164.490005,165.550003,162.100006,163.169998,83737200,0,0
12,2022-03-07,163.360001,165.020004,159.039993,159.300003,96418800,0,0
13,2022-03-08,158.820007,162.880005,155.800003,157.440002,131148300,0,0
14,2022-03-09,161.479996,163.410004,159.410004,162.949997,91454900,0,0
15,2022-03-10,160.199997,160.389999,155.979996,158.520004,105342000,0,0
16,2022-03-11,158.929993,159.279999,154.500000,154.729996,96836300,0,0
17,2022-03-14,151.449997,154.119995,150.100006,150.619995,108732100,0,0
18,2022-03-15,150.899994,155.570007,150.380005,155.089996,92964300,0,0
19,2022-03-16,157.050003,160.000000,154.460007,159.589996,102151200,0,0

In [8]:
hist_msft = yf.Ticker('MSFT').history(period=f'{days}d')
hist_msft.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-02-16,298.369995,300.869995,293.679993,299.500000,29982100,0.62,0
2022-02-17,296.359985,296.799988,290.000000,290.730011,32461600,0.00,0
2022-02-18,293.049988,293.859985,286.309998,287.929993,34264000,0.00,0
2022-02-22,285.000000,291.540009,284.500000,287.720001,41736100,0.00,0
2022-02-23,290.179993,291.700012,280.100006,280.269989,37811200,0.00,0

In [9]:
pd.concat([hist,hist_msft],axis = 1).head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,,,,,,,,
2022-02-16,171.850006,173.339996,170.050003,172.550003,61177400,0,0,298.369995,300.869995,293.679993,299.500000,29982100,0.62,0
2022-02-17,171.029999,171.910004,168.470001,168.880005,69589300,0,0,296.359985,296.799988,290.000000,290.730011,32461600,0.00,0
2022-02-18,169.820007,170.539993,166.190002,167.300003,82772700,0,0,293.049988,293.859985,286.309998,287.929993,34264000,0.00,0
2022-02-22,164.979996,166.690002,162.149994,164.320007,91162800,0,0,285.000000,291.540009,284.500000,287.720001,41736100,0.00,0
2022-02-23,165.539993,166.149994,159.750000,160.070007,90009200,0,0,290.179993,291.700012,280.100006,280.269989,37811200,0.00,0

In [10]:
hist.head(3)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-02-16,171.850006,173.339996,170.050003,172.550003,61177400,0,0
2022-02-17,171.029999,171.910004,168.470001,168.880005,69589300,0,0
2022-02-18,169.820007,170.539993,166.190002,167.300003,82772700,0,0

In [11]:
hist.index

DatetimeIndex(['2022-02-16', '2022-02-17', '2022-02-18', '2022-02-22',
               '2022-02-23', '2022-02-24', '2022-02-25', '2022-02-28',
               '2022-03-01', '2022-03-02', '2022-03-03', '2022-03-04',
               '2022-03-07', '2022-03-08', '2022-03-09', '2022-03-10',
               '2022-03-11', '2022-03-14', '2022-03-15', '2022-03-16'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [12]:
hist.index = hist.index.strftime('%d %B %Y')

In [13]:
hist = hist[['Close']]
hist.columns = ['apple']
hist.head()

                       apple
Date
16 February 2022  172.550003
17 February 2022  168.880005
18 February 2022  167.300003
22 February 2022  164.320007
23 February 2022  160.070007

In [14]:
hist = hist.T
hist

Date,16 February 2022,17 February 2022,18 February 2022,22 February 2022,23 February 2022,24 February 2022,25 February 2022,28 February 2022,01 March 2022,02 March 2022,03 March 2022,04 March 2022,07 March 2022,08 March 2022,09 March 2022,10 March 2022,11 March 2022,14 March 2022,15 March 2022,16 March 2022
apple,172.550003,168.880005,167.300003,164.320007,160.070007,162.740005,164.850006,165.119995,163.199997,166.559998,166.229996,163.169998,159.300003,157.440002,162.949997,158.520004,154.729996,150.619995,155.089996,159.589996

In [15]:
hist.index.name = 'Name'
hist

Date,16 February 2022,17 February 2022,18 February 2022,22 February 2022,23 February 2022,24 February 2022,25 February 2022,28 February 2022,01 March 2022,02 March 2022,03 March 2022,04 March 2022,07 March 2022,08 March 2022,09 March 2022,10 March 2022,11 March 2022,14 March 2022,15 March 2022,16 March 2022
Name,,,,,,,,,,,,,,,,,,,,
apple,172.550003,168.880005,167.300003,164.320007,160.070007,162.740005,164.850006,165.119995,163.199997,166.559998,166.229996,163.169998,159.300003,157.440002,162.949997,158.520004,154.729996,150.619995,155.089996,159.589996

In [31]:
days = 20
tickers = {
    'apple': 'AAPL',
    'facebook': 'FB',
    'google': 'GOOGL',
    'microsoft': 'MSFT',
    'netflix': 'NFLX',
    'amazon':'AMZN'
}
def get_data(days,tickers):
  df = pd.DataFrame()
  for company in tickers.keys():
    tkr = yf.Ticker(tickers[company])
    hist = tkr.history(period =f'{days}d')
    hist.index = hist.index.strftime('%d %B %Y')
    hist = hist[['Close']]
    hist.columns = [company]
    hist = hist.T
    hist.index.name = 'Name'
    df = pd.concat([df,hist])
  return df

In [32]:
days = 20
tickers = {
    'apple': 'AAPL',
    'facebook': 'FB',
    'google': 'GOOGL',
    'microsoft': 'MSFT',
    'netflix': 'NFLX',
    'amazon':'AMZN'
}
get_data(days,tickers)

Date,16 February 2022,17 February 2022,18 February 2022,22 February 2022,23 February 2022,24 February 2022,25 February 2022,28 February 2022,01 March 2022,02 March 2022,03 March 2022,04 March 2022,07 March 2022,08 March 2022,09 March 2022,10 March 2022,11 March 2022,14 March 2022,15 March 2022,16 March 2022
Name,,,,,,,,,,,,,,,,,,,,
apple,172.550003,168.880005,167.300003,164.320007,160.070007,162.740005,164.850006,165.119995,163.199997,166.559998,166.229996,163.169998,159.300003,157.440002,162.949997,158.520004,154.729996,150.619995,155.089996,159.589996
facebook,216.539993,207.710007,206.160004,202.080002,198.449997,207.600006,210.479996,211.029999,203.490005,208.110001,202.970001,200.059998,187.470001,190.289993,198.500000,195.210007,187.610001,186.630005,192.029999,203.630005
google,2754.760010,2650.780029,2608.060059,2596.270020,2551.760010,2653.820068,2689.189941,2701.139893,2681.229980,2691.429932,2677.989990,2638.129883,2527.570068,2542.090088,2668.399902,2648.590088,2597.409912,2519.020020,2583.959961,2665.610107
microsoft,299.500000,290.730011,287.929993,287.720001,280.269989,294.589996,297.309998,298.790009,294.950012,300.190002,295.920013,289.859985,278.910004,275.850006,288.500000,285.589996,280.070007,276.440002,287.149994,294.390015
netflix,398.079987,386.670013,391.290009,377.380005,367.459991,390.029999,390.799988,394.519989,386.239990,380.029999,368.070007,361.730011,350.260010,341.760010,358.790009,356.769989,340.320007,331.010010,343.750000,357.529999
amazon,3162.010010,3093.050049,3052.030029,3003.949951,2896.540039,3027.159912,3075.770020,3071.260010,3022.840088,3041.050049,2957.969971,2912.820068,2749.060059,2720.290039,2785.580078,2936.350098,2910.489990,2837.060059,2947.330078,3062.080078

In [34]:
aapl = yf.Ticker('AAPL')

In [36]:
aapl.info

{'52WeekChange': 0.32406867,
 'SandP52WeekChange': 0.112987995,
 'address1': 'One Apple Park Way',
 'algorithm': None,
 'annualHoldingsTurnover': None,
 'annualReportExpenseRatio': None,
 'ask': 0,
 'askSize': 800,
 'averageDailyVolume10Day': 98546350,
 'averageVolume': 93057816,
 'averageVolume10days': 98546350,
 'beta': 1.185531,
 'beta3Year': None,
 'bid': 0,
 'bidSize': 1000,
 'bookValue': 4.402,
 'category': None,
 'circulatingSupply': None,
 'city': 'Cupertino',
 'companyOfficers': [],
 'country': 'United States',
 'currency': 'USD',
 'currentPrice': 159.59,
 'currentRatio': 1.038,
 'dateShortInterest': 1646006400,
 'dayHigh': 160,
 'dayLow': 154.46,
 'debtToEquity': 170.714,
 'dividendRate': 0.88,
 'dividendYield': 0.0057,
 'earningsGrowth': 0.25,
 'earningsQuarterlyGrowth': 0.204,
 'ebitda': 128217997312,
 'ebitdaMargins': 0.33890998,
 'enterpriseToEbitda': 20.772,
 'enterpriseToRevenue': 7.04,
 'enterpriseValue': 2663304658944,
 'exDividendDate': 1643932800,
 'exchange': 'NMS',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EDT',
 'expireDate': None,
 'fiftyDayAverage': 167.1878,
 'fiftyTwoWeekHigh': 182.94,
 'fiftyTwoWeekLow': 118.86,
 'financialCurrency': 'USD',
 'fiveYearAverageReturn': None,
 'fiveYearAvgDividendYield': 1.13,
 'floatShares': 16302795170,
 'forwardEps': 6.56,
 'forwardPE': 24.327744,
 'freeCashflow': 80153247744,
 'fromCurrency': None,
 'fullTimeEmployees': 100000,
 'fundFamily': None,
 'fundInceptionDate': None,
 'gmtOffSetMilliseconds': '-14400000',
 'grossMargins': 0.43019,
 'grossProfits': 152836000000,
 'heldPercentInsiders': 0.0007,
 'heldPercentInstitutions': 0.59418,
 'impliedSharesOutstanding': 0,
 'industry': 'Consumer Electronics',
 'isEsgPopulated': False,
 'lastCapGain': None,
 'lastDividendDate': 1643932800,
 'lastDividendValue': 0.22,
 'lastFiscalYearEnd': 1632528000,
 'lastMarket': None,
 'lastSplitDate': 1598832000,
 'lastSplitFactor': '4:1',
 'legalType': None,
 'logo_url': 'https://logo.clearbit.com/apple.com',
 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. In addition, the company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; AirPods Max, an over-ear wireless headphone; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, and iPod touch. Further, it provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. Additionally, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It distributes third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was incorporated in 1977 and is headquartered in Cupertino, California.',
 'longName': 'Apple Inc.',
 'market': 'us_market',
 'marketCap': 2604412960768,
 'maxAge': 1,
 'maxSupply': None,
 'messageBoardId': 'finmb_24937',
 'morningStarOverallRating': None,
 'morningStarRiskRating': None,
 'mostRecentQuarter': 1640390400,
 'navPrice': None,
 'netIncomeToCommon': 100554997760,
 'nextFiscalYearEnd': 1695600000,
 'numberOfAnalystOpinions': 44,
 'open': 157.05,
 'openInterest': None,
 'operatingCashflow': 112241000448,
 'operatingMargins': 0.309,
 'payoutRatio': 0.1434,
 'pegRatio': 1.74,
 'phone': '408 996 1010',
 'preMarketPrice': 159.14,
 'previousClose': 155.09,
 'priceHint': 2,
 'priceToBook': 36.253975,
 'priceToSalesTrailing12Months': 6.8840985,
 'profitMargins': 0.26579002,
 'quickRatio': 0.875,
 'quoteType': 'EQUITY',
 'recommendationKey': 'buy',
 'recommendationMean': 1.8,
 'regularMarketDayHigh': 160,
 'regularMarketDayLow': 154.46,
 'regularMarketOpen': 157.05,
 'regularMarketPreviousClose': 155.09,
 'regularMarketPrice': 159.59,
 'regularMarketVolume': 101965749,
 'returnOnAssets': 0.19875,
 'returnOnEquity': 1.45567,
 'revenueGrowth': 0.112,
 'revenuePerShare': 22.838,
 'revenueQuarterlyGrowth': None,
 'sector': 'Technology',
 'sharesOutstanding': 16319399936,
 'sharesPercentSharesOut': 0.0068,
 'sharesShort': 110322490,
 'sharesShortPreviousMonthDate': 1643587200,
 'sharesShortPriorMonth': 91388112,
 'shortName': 'Apple Inc.',
 'shortPercentOfFloat': 0.0068,
 'shortRatio': 1.2,
 'startDate': None,
 'state': 'CA',
 'strikePrice': None,
 'symbol': 'AAPL',
 'targetHighPrice': 215,
 'targetLowPrice': 160,
 'targetMeanPrice': 193.53,
 'targetMedianPrice': 199.5,
 'threeYearAverageReturn': None,
 'toCurrency': None,
 'totalAssets': None,
 'totalCash': 63913000960,
 'totalCashPerShare': 3.916,
 'totalDebt': 122797998080,
 'totalRevenue': 378323009536,
 'tradeable': False,
 'trailingAnnualDividendRate': 0.865,
 'trailingAnnualDividendYield': 0.005577407,
 'trailingEps': 6.015,
 'trailingPE': 26.532003,
 'trailingPegRatio': 3.2017,
 'twoHundredDayAverage': 154.06425,
 'volume': 101965749,
 'volume24Hr': None,
 'volumeAllCurrencies': None,
 'website': 'https://www.apple.com',
 'yield': None,
 'ytdReturn': None,
 'zip': '95014'}

In [37]:
!pip install altair

Requirement already satisfied: altair in /usr/local/lib/python3.7/dist-packages (4.2.0)
Requirement already satisfied: entrypoints in /usr/local/lib/python3.7/dist-packages (from altair) (0.4)
Requirement already satisfied: toolz in /usr/local/lib/python3.7/dist-packages (from altair) (0.11.2)
Requirement already satisfied: jsonschema>=3.0 in /usr/local/lib/python3.7/dist-packages (from altair) (4.3.3)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from altair) (2.11.3)
Requirement already satisfied: pandas>=0.18 in /usr/local/lib/python3.7/dist-packages (from altair) (1.3.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from altair) (1.21.5)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.0->altair) (21.4.0)
Requirement already satisfied: importlib-resources>=1.4.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.0->altair) (5.4.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.0->altair) (0.18.1)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.0->altair) (4.11.2)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.0->altair) (3.10.0.2)
Requirement already satisfied: zipp>=3.1.0 in /usr/local/lib/python3.7/dist-packages (from importlib-resources>=1.4.0->jsonschema>=3.0->altair) (3.7.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.18->altair) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.18->altair) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.18->altair) (1.15.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->altair) (2.0.1)

In [38]:
import altair as alt

In [39]:
df

Date,16 February 2022,17 February 2022,18 February 2022,22 February 2022,23 February 2022,24 February 2022,25 February 2022,28 February 2022,01 March 2022,02 March 2022,03 March 2022,04 March 2022,07 March 2022,08 March 2022,09 March 2022,10 March 2022,11 March 2022,14 March 2022,15 March 2022,16 March 2022
Name,,,,,,,,,,,,,,,,,,,,
apple,172.550003,168.880005,167.300003,164.320007,160.070007,162.740005,164.850006,165.119995,163.199997,166.559998,166.229996,163.169998,159.300003,157.440002,162.949997,158.520004,154.729996,150.619995,155.089996,159.589996
facebook,216.539993,207.710007,206.160004,202.080002,198.449997,207.600006,210.479996,211.029999,203.490005,208.110001,202.970001,200.059998,187.470001,190.289993,198.500000,195.210007,187.610001,186.630005,192.029999,203.630005
google,2754.760010,2650.780029,2608.060059,2596.270020,2551.760010,2653.820068,2689.189941,2701.139893,2681.229980,2691.429932,2677.989990,2638.129883,2527.570068,2542.090088,2668.399902,2648.590088,2597.409912,2519.020020,2583.959961,2665.610107
microsoft,299.500000,290.730011,287.929993,287.720001,280.269989,294.589996,297.309998,298.790009,294.950012,300.190002,295.920013,289.859985,278.910004,275.850006,288.500000,285.589996,280.070007,276.440002,287.149994,294.390015
netflix,398.079987,386.670013,391.290009,377.380005,367.459991,390.029999,390.799988,394.519989,386.239990,380.029999,368.070007,361.730011,350.260010,341.760010,358.790009,356.769989,340.320007,331.010010,343.750000,357.529999
amazon,3162.010010,3093.050049,3052.030029,3003.949951,2896.540039,3027.159912,3075.770020,3071.260010,3022.840088,3041.050049,2957.969971,2912.820068,2749.060059,2720.290039,2785.580078,2936.350098,2910.489990,2837.060059,2947.330078,3062.080078

In [51]:
companies = ['apple','facebook']
data = df.loc[companies]
data

Date,16 February 2022,17 February 2022,18 February 2022,22 February 2022,23 February 2022,24 February 2022,25 February 2022,28 February 2022,01 March 2022,02 March 2022,03 March 2022,04 March 2022,07 March 2022,08 March 2022,09 March 2022,10 March 2022,11 March 2022,14 March 2022,15 March 2022,16 March 2022
Name,,,,,,,,,,,,,,,,,,,,
apple,172.550003,168.880005,167.300003,164.320007,160.070007,162.740005,164.850006,165.119995,163.199997,166.559998,166.229996,163.169998,159.300003,157.440002,162.949997,158.520004,154.729996,150.619995,155.089996,159.589996
facebook,216.539993,207.710007,206.160004,202.080002,198.449997,207.600006,210.479996,211.029999,203.490005,208.110001,202.970001,200.059998,187.470001,190.289993,198.500000,195.210007,187.610001,186.630005,192.029999,203.630005

In [52]:
data.sort_index()

Date,16 February 2022,17 February 2022,18 February 2022,22 February 2022,23 February 2022,24 February 2022,25 February 2022,28 February 2022,01 March 2022,02 March 2022,03 March 2022,04 March 2022,07 March 2022,08 March 2022,09 March 2022,10 March 2022,11 March 2022,14 March 2022,15 March 2022,16 March 2022
Name,,,,,,,,,,,,,,,,,,,,
apple,172.550003,168.880005,167.300003,164.320007,160.070007,162.740005,164.850006,165.119995,163.199997,166.559998,166.229996,163.169998,159.300003,157.440002,162.949997,158.520004,154.729996,150.619995,155.089996,159.589996
facebook,216.539993,207.710007,206.160004,202.080002,198.449997,207.600006,210.479996,211.029999,203.490005,208.110001,202.970001,200.059998,187.470001,190.289993,198.500000,195.210007,187.610001,186.630005,192.029999,203.630005

In [53]:
data = data.T.reset_index()
data.head()

Name              Date       apple    facebook
0     16 February 2022  172.550003  216.539993
1     17 February 2022  168.880005  207.710007
2     18 February 2022  167.300003  206.160004
3     22 February 2022  164.320007  202.080002
4     23 February 2022  160.070007  198.449997

In [54]:
data = pd.melt(data, id_vars=['Date']).rename(
    columns={'value': 'Stock Prices(USD)'}
)
data

                Date      Name  Stock Prices(USD)
0   16 February 2022     apple         172.550003
1   17 February 2022     apple         168.880005
2   18 February 2022     apple         167.300003
3   22 February 2022     apple         164.320007
4   23 February 2022     apple         160.070007
5   24 February 2022     apple         162.740005
6   25 February 2022     apple         164.850006
7   28 February 2022     apple         165.119995
8      01 March 2022     apple         163.199997
9      02 March 2022     apple         166.559998
10     03 March 2022     apple         166.229996
11     04 March 2022     apple         163.169998
12     07 March 2022     apple         159.300003
13     08 March 2022     apple         157.440002
14     09 March 2022     apple         162.949997
15     10 March 2022     apple         158.520004
16     11 March 2022     apple         154.729996
17     14 March 2022     apple         150.619995
18     15 March 2022     apple         155.089996
19     16 March 2022     apple         159.589996
20  16 February 2022  facebook         216.539993
21  17 February 2022  facebook         207.710007
22  18 February 2022  facebook         206.160004
23  22 February 2022  facebook         202.080002
24  23 February 2022  facebook         198.449997
25  24 February 2022  facebook         207.600006
26  25 February 2022  facebook         210.479996
27  28 February 2022  facebook         211.029999
28     01 March 2022  facebook         203.490005
29     02 March 2022  facebook         208.110001
30     03 March 2022  facebook         202.970001
31     04 March 2022  facebook         200.059998
32     07 March 2022  facebook         187.470001
33     08 March 2022  facebook         190.289993
34     09 March 2022  facebook         198.500000
35     10 March 2022  facebook         195.210007
36     11 March 2022  facebook         187.610001
37     14 March 2022  facebook         186.630005
38     15 March 2022  facebook         192.029999
39     16 March 2022  facebook         203.630005

In [63]:
ymin, ymax = 120, 300

chart = (
    alt.Chart(data)
    .mark_line(opacity = 0.8,clip=True)
    .encode(
        x="Date:T",
        y=alt.Y("Stock Prices(USD):Q",stack = None, scale=alt.Scale(domain=[ymin,ymax])),
        color = 'Name:N'
    )
)

In [64]:
chart

alt.Chart(...)